*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5ED;

}
nav{
    padding: 20px 10%;
    height: 15vh
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

nav ul li{
    list-style: none;
    font-weight: 500;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.leftmain{
    width: 40%;
    margin-left: 80px;
}

.leftmain h1{
    font-size: 70px;
    margin: 5px;
}
.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.rightmain{
    width: 60%;
    margin-left: 150px;
}